/** background and main page **/

body {
    background-color: #2d2d2d;
    font-family: sans-serif;
}

#codebergLink {
    width: 100%;
}

table.genericTable {
    width: 100%;
    border: 0;
}

/** upper box **/

.text {
    color: #dd0000;
    font-size: 10pt;
}

.title {
    font-size: 16pt;
}

.bold {
    font-weight: bold;
}

.right {
    text-align: right;
}

#StopPlayIcon,
#muteIcon {
    cursor: pointer;
}


/** player controls **/

audio {
    display: none;
}

img.playericon {
    width: 32px;
    height: 32px;
}

td.muteIcon {
    width: 48px;
}

td.volScale {
    width: 10%;
}

td.volDisplay {
    width: 72px;
}


/** search bar **/

input {
    width: 99%;
    height: 30px;
    font-size: 12pt;
}

input.button {
    font-weight: bold;
    height: 35px;
}

.sbar {
    width: 98%;
}

.clse {
    width: 2%;
}

/* channel list */

ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

span.stream,
a {
    color: #dd0000;
    font-weight: bold;
    text-decoration: none;
}

span.stream:hover,
a:hover {
    color: #a90000;
    cursor: pointer;
}


/** fieldsets and their legend tags **/

fieldset {
    color: #ffffff;
    font-size: 14pt;
}

legend {
    font-size: 18pt;
    font-weight: bold;
}


/** footer **/

.footer {
    color: #ffffff;
    font-size: 12pt;
}

.heart {
    color: #dd0000;
    font-size: 16pt;
}

.hint {
    color: #ffffff;
    font-size: 11pt;
}


/* Added by lukkoeh */

#searchbar {
    box-sizing: border-box;
    width: 99%;
    height: 4vh;
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 0;
    border: 1px solid #eee;
    cursor: text;
    padding-left: 10px;
}

#clearSearchbar {
    width: 100%;
    height: 4vh;
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 0;
    border: 1px solid #eee;
    cursor: pointer;
}

#mixedContentHint {
    margin-top: 10px;
}

.startstop {
    width: 64px;
}

.infobox {
    margin-top: -0.5vh;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.flex-item-footer-1 img {
    width: 15%;
    max-width: 200px;
}


/* mobile layout */

@media screen and (max-width: 1024px) {
    ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        list-style-type: none;
        padding-left: 10px;
    }

    li {
        padding: 5px;
    }

    img.playericon {
        width: 32px;
        height: 32px;
    }

    span.stream {
        font-size: 5vw;
    }

    legend {
        font-size: 5.25vw;
    }

    .notonmobi {
        display: none;
    }

    .text {
        font-size: 4vw;
    }

    .bold {
        font-size: 4vw;
    }

    .infobox {
        margin-left: 3vw;
    }

    .clse {
        width: 20%;
    }

    .sbar {
        width: 60%;
    }

    .footer-flex {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .flex-item-footer-1 {
        max-width: 100%;
        margin: auto;
    }

    #searchbar {
        width: 90%;
        height: 5vh;
        font-size: 2.75vh;
        padding-left: 2vw;
    }

    #clearSearchbar {
        width: 100%;
        height: 5vh;
        font-size: 4vw;
    }

    #codebergLink {
        width: 100%;
    }

    .hint,
    .footer {
        color: #ffffff;
        font-size: 9pt;
    }
}


/* Animations (DESKTOP) */

@media screen and (min-width: 1025px) {
    fieldset:hover {
        border-color: #aaa;
        transition: .2s;
    }

    span.stream:hover,
    a:hover {
        transition: .2s;
    }

    span.stream:not(:hover),
    a:not(:hover) {
        transition: .2s;
    }

    fieldset:not(:hover) {
        transition: .2s;
    }

    #StopPlayIcon:hover,
    #muteIcon:hover {
        transform: scale(1.15);
        transition: .2s;
    }

    #StopPlayIcon:not(:hover),
    #muteIcon:not(:hover) {
        transition: .2s;
    }

    #clearSearchbar:hover,
    #searchbar:hover {
        border: 1px solid #aaa;
        transition: .2s;
    }

    #clearSearchbar:not(:hover),
    #searchbar:not(:hover) {
        transition: .2s;
    }
}


